@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: url("zac-durant-_6HzPU9Hyfg-unsplash.jpg") no-repeat center
    center/cover;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.option{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 35px;
}

img{
width: 40px;
height: 40px;
margin: 0 15px 15px;
padding: 0;
filter: invert(100%);

}
/* *************************************************settings********************************************************* */
.settings{
  display: flex;
  justify-content: center;
  text-align: center;
      /* height: 75vh; */
      width: 350px;
      background-color:#444444b0;
  
  
    }

    .par2{
      font-size: 14px;
      padding-bottom: 40px;
      margin-top: 50px;
    }
h2{
  margin-bottom: 90px;
}



/* ********************************************************************************************************** */
h1 {
  font-size: 3em;
  color: #ded8d8;
  font-weight: bold;
  text-align: center;
  padding: 0px 15px 0px 15px;
}
p {
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
}

span {
  display: flex;
  font-size: 2em;
  justify-content: center;

  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 280px;    /*300 normal */
  width: 280px;   /*300 normal */
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    #7df7b3 0%,
    #20c1e9 40%,
    #ff3636 40%,
    #c9812c 100%
  );
   height: 315px; /*320 normal */
  width: 315px; /*320 normal */
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  /* top: -10px; */
  /* left: -10px; */
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}
.hide {
  display: none;
}

.pointer-container {
  position: absolute;
  top: -21px; /*40 normal */
  left: 137px; /*140 normal */
  width: 5px; /*20 normal */
  height: 160px;  /*190 normal */
  animation: rotate 4s linear forwards infinite;
  transform-origin: bottom center;
  -webkit-animation: rotate 4s linear forwards infinite;
}

#but,#but1 {
  background-color: #00806a00;
  font-size: 2em;
  text-transform: uppercase;
  border: none;
  color: white;
  cursor: pointer;
}

.btnSave{
  background-color: #00806a00;
  color:  rgb(0, 197, 26);
  border: 2px solid rgb(235, 235, 235);
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
  font-weight: 600;
  
  cursor: pointer;
  border-radius:25px ;
  -webkit-border-radius:25px ;
  -moz-border-radius:25px ;
  -ms-border-radius:25px ;
  -o-border-radius:25px ;
  margin-bottom: 15px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*1.7 normal */
.container.grow {
  animation: grow 1.6s linear forwards;
  -webkit-animation: grow 1.6s linear forwards;
}



@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
}

/*2.2 normal */
.container.shrink {
  animation: shrink 2.6s linear forwards;
  -webkit-animation: shrink 2.6s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 2em;
    text-align: center;
  }
}
